div.row {
    display: flex;
}

div.cell {
    margin: 1px;
    padding: 0px;
    height: 18px;
    width: 18px;
    min-width: 18px;
}

div.cell-snake {
    background-color: #ff0000;
}

div.cell-snakeeye {
    background-color: pink;
}

div.cell-food {
    background-color: #008000;
}

div.cell-wall {
    background-color: black;
}

div.cell-empty {
    background-color: gray;
}
